<%= form_for [commentable,Comment.new], remote: true do |f| %>
<p>
	<%= f.label :pitle %>
	</br>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :message %>
	</br>
	<%= f.text_field :message %>
</p>
<p>
	<%= f.submit "Create comment" %>
</p>
<%end%>
